@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 50 100% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 200, 6%, 10%;
    --foreground: 40, 9%, 87%;
    --card: 200, 6%, 10%;
    --card-foreground: 40, 9%, 87%;
    --popover: 200, 6%, 10%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 50, 100%, 29%;
    --primary-foreground: 40, 9%, 99%;
    --secondary: 200, 6%, 10%;
    --secondary-foreground: 40, 9%, 87%;
    --muted: 200, 6%, 10%;
    --muted-foreground: 40, 9%, 87%;
    --accent: 210, 6%, 13%;
    --accent-foreground: 40, 9%, 87%;
    --destructive: 0, 80%, 32%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 197, 6%, 23%;
    --input: 197, 6%, 23%;
    --ring: 20 14.3% 94.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

#seller1,
#seller2,
#seller3 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-20%) scale(1.5);
}

#seller1 {
  transform: translateX(-30%) scale(1.4) translateY(1%) rotate(-5deg);
}

#seller2 {
  transform: translateX(-10%) scale(1.4) translateY(1%) rotate(5deg);
}

.landing-page-seller:hover #seller1 {
  transform: translateX(-60%) translateY(7.5%) rotate(-10deg) scale(1.4);
}

.landing-page-seller:hover #seller2 {
  transform: translateX(20%) translateY(7.5%) rotate(10deg) scale(1.4);
}

.landing-page-seller:hover #seller3 {
  transform: translateX(-20%) scale(1.6);
}

@media (min-width: 1205px) {
  .landing-page-seller:hover~div {
    transform: translateX(20%);
  }
}

#order1,
#order2,
#order3 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(20%) scale(1.5);
}

#order1 {
  transform: translateX(10%) scale(1.4) translateY(1%) rotate(-5deg);
}

#order2 {
  transform: translateX(30%) scale(1.4) translateY(1%) rotate(5deg);
}

.landing-page-order:hover #order1 {
  transform: translateX(-20%) translateY(7.5%) rotate(-10deg) scale(1.4);
}

.landing-page-order:hover #order2 {
  transform: translateX(60%) translateY(7.5%) rotate(10deg) scale(1.4);
}

.landing-page-order:hover #order3 {
  transform: translateX(20%) scale(1.6);
}

@media (min-width: 1205px) {
  div:has(+.landing-page-order:hover) {
    transform: translateX(-20%);
  }
}
